* {
    list-style: none;
}

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: #FFFFFF;
}


/* HEADER START */

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: darkslategray;
    height: 65px;
    align-items: center;
    flex-wrap: nowrap;
}

.nav_logo {
    margin: 0 0 0 30px;
}

header nav a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.myButton {
    background-color: #ffffff;
    border: #ffffff solid 1px;
    border-radius: 28px;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-size: 15px;
    padding: 8px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
    color: rgb(42, 42, 42);
    background-color: rgb(255, 255, 255);
    border: black solid 1px;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.nav_links {
    margin: 2px;
    padding: 0 5px;
}

.nav_links a {
    margin: 0 15px;
}

.nav_help {
    height: 65px;
}


/*HEADER END*/


/* FOOTER FORM START*/

footer form {
    background-color: grey;
}

footer p {
    margin: 1vw;
}

footer form h3 {
    margin: 1vw;
    font-size: 3vw;
}

.form_footer {
    margin: 1vw;
    display: flex;
    justify-content: space-between;
}

.large_input {
    width: 22vw;
    height: 3vw;
    border: 0;
    border-bottom: 2px solid black;
    background-color: grey;
}

input::placeholder {
    color: lightgrey;
}

.footer_Button {
    background-color: red;
    border-radius: 42px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 2vw;
    padding: 2vw;
    text-decoration: none;
}

.footer_Button:active {
    position: relative;
    top: 1px;
}

.footer_form_p {
    padding-top: 1vw;
    padding-bottom: 2vw;
}


/* FOOTER BAS START */

#test {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 40%;
    margin: 20px;
}

section a {
    text-decoration: none;
    color: rgb(74, 74, 74);
}

#commun {
    background: black none repeat scroll 0% 0%;
    line-height: 22px;
}

#test2 {
    display: flex;
    color: rgb(74, 74, 74);
    justify-content: space-between;
    width: 100%;
}


/* FOOTER BAS END */


/* LIENS DU FOOTER START */

#footer_links {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    margin: auto;
    flex-flow: row wrap;
    width: calc(100% - 48px);
    max-width: 1272px;
}

.footer_div {
    display: flex;
    flex: 1 0 100%;
    flex-basis: 408px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.footer_div ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_div li {
    padding: 0.5rem;
}

.footer_div a {
    text-decoration: none;
    color: rgb(74, 74, 74);
}

h6 {
    /*font-family: var(--fontBase);*/
    color: rgb(74, 74, 74);
    font-weight: 300;
    line-height: 1.45556;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

#social-medias {
    display: flex;
    flex: 1 0 100%;
    flex-basis: 400px;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 0.5rem;
}

#social-medias svg {
    margin-right: 1rem;
    width: 2rem;
    color: rgb(113, 113, 113);
}


/*LIENS DU FOOTER END*/


/* FOOTER BAS START */

#test {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 40%;
    margin: 20px;
}

section a {
    text-decoration: none;
    color: rgb(74, 74, 74);
}

#commun {
    background: black none repeat scroll 0% 0%;
    line-height: 22px;
}

hr {
    width: 100%;
    margin: 2em auto;
    opacity: 0.44;
}

#test2 {
    display: flex;
    color: rgb(74, 74, 74);
    justify-content: space-between;
    width: 100%;
}


/* FOOTER BAS END */

@media screen and (min-width: 768px) and (max-width:991px) {
    .nav_links {
        display: none;
    }
    .myButton {
        margin-right: 10vw;
    }
    .footer_div {}
}